.div-clima {
    padding: 0.2em 0.5em;
    
}

.cor-clima {
    border-color: rgba(255, 255, 255, 0.185);
    border-radius: 25px;
}

.city {
    font-size: 24px;
}

.date {
    font-size: 16px;
}

.container-temp {
    display: flex;
    justify-content: center;
    font-size: 28px;

}

.weather {
    font-size: 16px;
}

.low-high {
    font-size: 16px;
}